apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventory-service
  namespace: core-services
  labels:
    app: inventory-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: inventory-service
  template:
    metadata:
      labels:
        app: inventory-service
    spec:
      containers:
      - name: inventory-service
        image: fleet-os-inventory-service-image:dev
        imagePullPolicy: Never
        ports:
        - containerPort: 3003
        envFrom:
        - configMapRef:
            name: inventory-config
        - secretRef:
            name: inventory-secret
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
        livenessProbe:
          httpGet:
            path: /healthz
            port: 3003
          initialDelaySeconds: 15
          periodSeconds: 20
          timeoutSeconds: 5
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /healthz
            port: 3003
          initialDelaySeconds: 15
          periodSeconds: 20
          timeoutSeconds: 5
          failureThreshold: 3
---
apiVersion: v1
kind: Service
metadata:
  name: inventory-service
  namespace: core-services
spec:
  selector:
    app: inventory-service
  ports:
    - protocol: TCP
      port: 3003
      targetPort: 3003
