apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventory-service
  namespace: core-services
  labels:
    app: inventory-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: inventory-service
  template:
    metadata:
      labels:
        app: inventory-service
    spec:
      containers:
      - name: inventory-service
        image: fleet-os-inventory-service-image:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 3003
        envFrom:
        - configMapRef:
            name: inventory-config
        - secretRef:
            name: inventory-secret
---
apiVersion: v1
kind: Service
metadata:
  name: inventory-service
  namespace: core-services
spec:
  selector:
    app: inventory-service
  ports:
    - protocol: TCP
      port: 3003
      targetPort: 3003
