apiVersion: apps/v1
kind: Deployment
metadata:
  name: shipment-service
  namespace: core-services
  labels:
    app: shipment-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: shipment-service
  template:
    metadata:
      labels:
        app: shipment-service
    spec:
      containers:
      - name: shipment-service
        image: fleet-os-shipment-service-image:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 3002
        envFrom:
        - configMapRef:
            name: shipment-config
        - secretRef:
            name: shipment-secret
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
        livenessProbe:
          httpGet:
            path: /healthz
            port: 3002
          initialDelaySeconds: 15
          periodSeconds: 20
          timeoutSeconds: 5
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /healthz
            port: 3002
          initialDelaySeconds: 15
          periodSeconds: 20
          timeoutSeconds: 5
          failureThreshold: 3
---
apiVersion: v1
kind: Service
metadata:
  name: shipment-service
  namespace: core-services
spec:
  selector:
    app: shipment-service
  ports:
    - protocol: TCP
      port: 3002
      targetPort: 3002
