[submodule "services/auth-service"]
	path = services/auth-service
	url = https://github.com/ijas9118/fleet-os-auth-service.git
[submodule "services/fleet-service"]
	path = services/fleet-service
	url = https://github.com/ijas9118/fleet-os-fleet-service
[submodule "services/inventory-service"]
	path = services/inventory-service
	url = https://github.com/ijas9118/fleet-os-inventory-service
[submodule "services/shipment-service"]
	path = services/shipment-service
	url = https://github.com/ijas9118/fleet-os-shipment-service
[submodule "shared"]
	path = shared
	url = https://github.com/ijas9118/fleet-os-shared
[submodule "client"]
	path = client
	url = https://github.com/ijas9118/fleet-os-frontend
[submodule "services/notification-service"]
	path = services/notification-service
	url = https://github.com/ijas9118/fleet-os-notification-service
