apiVersion: v1
kind: ConfigMap
metadata:
  name: kong-declarative-config
  namespace: gateway
data:
  kong.yml: |
    _format_version: "3.0"
    services:
      - name: auth-service
        url: http://auth-service.core-services:3001
        routes:
          - name: auth-public
            paths:
              - /api/v1/auth/register-tenant
              - /api/v1/auth/register-admin
              - /api/v1/auth/verify-otp
              - /api/v1/auth/resend-otp
              - /api/v1/auth/login
              - /api/v1/auth/refresh
              - /api/v1/auth/accept-invite
            strip_path: false
          - name: auth-protected
            paths:
              - /api/v1/auth
            strip_path: false
            plugins:
              - name: jwt
                config:
                  key_claim_name: iss
                  claims_to_verify:
                    - exp

      - name: shipment-service
        url: http://shipment-service.core-services:3002
        routes:
          - name: shipment-routes
            paths:
              - /api/v1/shipments
            strip_path: false
        plugins:
          - name: jwt
            config:
              key_claim_name: iss
              claims_to_verify:
                - exp

      - name: inventory-service
        url: http://inventory-service.core-services:3003
        routes:
          - name: inventory-routes
            paths:
              - /api/v1/inventory
            strip_path: false
        plugins:
          - name: jwt
            config:
              key_claim_name: iss
              claims_to_verify:
                - exp

      - name: fleet-service
        url: http://fleet-service.core-services:3004
        routes:
          - name: fleet-routes
            paths:
              - /api/v1/fleet
            strip_path: false
        plugins:
          - name: jwt
            config:
              key_claim_name: iss
              claims_to_verify:
                - exp

    consumers:
      - username: fleet-os-consumer
        jwt_secrets:
          - key: fleet-os
            algorithm: RS256
            rsa_public_key: |
              -----BEGIN PUBLIC KEY-----
              MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEApN3zucwV9XSfvaC51E/1
              76dJZcpW0Yb2QdNuwJQbVdAfcUX6+VSE9ap134KYbIWlZkInb9PSL5XP6zN9FErv
              b9c8efqAaVJAbl7qjhp+7RM2dHbbNXNQYkEUjViewJgkJozRPAU7fD0gcZR8Gb4H
              BZdIxwbAdEbnKjNKBRescKdAxj1Fyn1B/IkTCKD3qBfUHPyfYytsV6ijwWSmgS88
              taWUogNwihQl7P8Agp4HyRXahEcU77Bi/vQmFeAHa6edZn1m+O7ebHs2i15/Angp
              VzYPr40DmSGipa6oDnu1TUMuZxma1U4i+K2ypfXcaIG25yWks7jQvt+a8ZLAYqeY
              FwIDAQAB
              -----END PUBLIC KEY-----
